header {
  background-color: red;
  pad: 20px;
  text-align: center;
  position: fixed;
  width: 100%;
  z-index: 1;
  top: 0%;
  left: 0%;
}
header h1 {
  color: white;
  border: 2px;
  padding: 6px 12px;
  display: inline-block;
  border-radius: 30px;
}
.banner {
  position: relative;
}
.banner image {
  max-width: 300%;
}
.banner .wellcome {
  background-color: gold;
  padding: 30%;
  position: absolute;
  left: 0;
  top: 30%;
}
.banner h2 {
  font-size: 74px;
  background-color: gold;
}
.banner h2 span {
  font: size 1.3em;
}
